  <p id= 'notice'>
    <%= notice %>
  </p>

<h2>User info</h2>
<p><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %></p>
<table>
  <tbody>
    <tr>
      <th>name</th>
      <th>ログインユーザー名</th>
    </tr>
    <tr>
      <th>introduction</th>
      <th>ログインユーザーの紹介</th>
    </tr>
  </tbody>
</table>

<h2>New book</h2>
<%= form_with model: @book, url:'/books', local:true do |f| %>
  <%= render 'layouts/error_messages', model: @book %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_field :body %>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
  <span><%= link_to 'Edit', edit_book_path(@book) %></span>
  <span><%= link_to 'Back', books_path %></span>